@{
  Layout = "_Layout";
}

@model SweetShop.Models.Treat

<h2>Confirm delete?</h2>

@Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

<br>

@Html.ActionLink("Back to Home", "Index", "Home")