@{
  Layout = "_Layout";
}

@model SweetShop.Models.Flavor

<h4>Add a new Flavor</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add new Flavor" /> // how can I make a drop down list with a default nullable item like <no flavor>
}
<p>@Html.ActionLink("Home", "Index", "Home")</p> 